<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="authenticationInterceptor" class="inc.webapp.interceptor.AuthenticationInterceptor" scope="prototype"/>

    <bean id="homeAction" class="inc.webapp.action.base.HomeAction" scope="prototype">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="mostWantedPresentForParty" class="inc.webapp.action.ajax.MostWantedPresentForPartyAjaxAction" scope="prototype">
        <property name="presentDao" ref="presentDao"/>
    </bean>

    <bean id="userDataAjaxAction" class="inc.webapp.action.ajax.UserDataAjaxAction" scope="prototype">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="newsAjaxAction" class="inc.webapp.action.ajax.NewsAjaxAction" scope="prototype">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="partiesAction" class="inc.webapp.action.base.PartiesAction" scope="prototype">
        <property name="userDao" ref="userDao"/>
        <property name="partyDao" ref="partyDao"/>
    </bean>

    <bean id="logoutAction" class="inc.webapp.action.base.LogoutAction" scope="prototype"/>

    <bean id="registrationAction" class="inc.webapp.action.base.RegistrationAction" scope="prototype">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="loginAction" class="inc.webapp.action.base.LoginAction" scope="prototype">
        <property name="userDao" ref="userDao"/>
    </bean>



    <bean id="userDao" class="inc.db.dao.impl.UserDaoImpl" scope="singleton"/>
    <bean id="partyDao" class="inc.db.dao.impl.PartyDaoImpl" scope="singleton"/>
    <bean id="presentDao" class="inc.db.dao.impl.PresentDaoImpl" scope="singleton"/>
</beans>