<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


       <bean id="authenticationInterceptor" class="inc.webapp.interceptor.AuthenticationInterceptor" scope="prototype"/>

       <bean id="homeAction" class="inc.webapp.action.base.HomeAction" scope="prototype">
              <property name="userDao" ref="userDao"/>
       </bean>
       <bean id="logoutAction" class="inc.webapp.action.base.LogoutAction" scope="prototype"/>
       <bean id="registrationAction" class="inc.webapp.action.base.RegistrationAction" scope="prototype"/>

       <bean id="loginAction" class="inc.webapp.action.base.LoginAction" scope="prototype">
              <property name="userDao" ref="userDao"/>
       </bean>
       <bean id="userDao" class="inc.db.dao.impl.UserDaoImpl"/>
</beans>